.text{
    margin-top:5%;
    margin-left:15%;
    

}
#cal{
    margin-left:15%;
    margin-top:5%;
    

}
#name{
    margin-left:10%; 
}
#weight{
    margin-left:9.3%; 
}
#age{
    margin-left:11.2%; 
}
#result{
    margin-left:15%;
    margin-top:5%;
}

