.text{
    margin-top:5%;
    margin-left:5%;
}
#pid{
    margin-left:6.9%;
    size:10px;
}
#pname{
    margin-left:5%;
}
#pprice{
    margin-left:5.3%;
}

#result{
    margin-left:5%;
    
}
.btn{
    margin-top: 2%;
    margin-left: 5%;
}
.tb{
    margin-left:10px;

}